:root {
  --deep-blue: #00214D;
  --body-black: #1B2D45;
  --green: #00EBC7;
  --lighten-green: #1FFFDD;
  --mute-green: #3BB09E;
  --red: #FF5470;
  --lighten-red: #FF8599;
  --mute-red: #D47F8D;
  --yellow: #FDE24F;
  --white: #FFFFFE;
  --gray-1: #F2F4F6;
  --gray-2: #B7C2CD;
  --gray-3: #7A8FA3;
  --gray-4: #4B5C6C;
  --black: #212930;
  --crazy-accent: #C300A4;
}
