.input {
  .input-label {
    display: block;
  }

  .input-control {
    border: 1px solid var(--body-black);
    border-radius: .25em;
    box-sizing: border-box;
    padding: .25em .8em;
    font-size: 100%;
    transition: border-color 250ms var(--ease-in-out-quint);
  }

  .ng-dirty.ng-touched.ng-invalid {
    border: 1px solid var(--red);
  }
}
