<h3>Login</h3>
<form action="/api/auth/login" method="post" [formGroup]="loginForm">

  <p class="input">
    <label for="username" class="input-label">
      Username <br>
      <input type="text"
             formControlName="username"
             class="input-control"
             name="username"
             id="username"
             placeholder="Username"
             aria-labelledby="Enter account username"
             autofocus
      >
    </label>

  </p>
  <p class="input">
    <label for="password" class="input-label">
      Password <br>
      <input type="text"
             formControlName="password"
             class="input-control"
             name="password"
             id="password"
             placeholder="Password"
             aria-labelledby="Enter account password"
      >
    </label>
  </p>

  <p class="button-group">
    <button type="reset"
            class="btn btn--danger"
            aria-labelledby="Reset login form"
    >
      Reset
    </button>

    <span class="flex-spacer"></span>

    <button type="button"
            class="btn btn--default"
            aria-labelledby="Submit login form"
            [disabled]="!loginForm.valid"
            (click)="login()"
    >
      Login
    </button>
  </p>
</form>

<a routerLink="/signup">Sign Up here</a>
